@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@keyframes gloopy {
	0% {
		background-color: white;
	}
	33% {
		background-color: black;
	}
	66% {
		background-color: rgb(100, 100, 223);
	}
	100% {
		background-color: white;
	}
}
